@charset "utf-8";
a{
			text-decoration:none;
		}
		#container,#pics{
			width:900px;
			height:500px;
		}
		#container{
			margin:40px auto 0;
			position:relative;
		}
		#prev,#next{
			display:inline-block;
			position:absolute;
			height:60px;
			line-height:60px;
			width:60px;
			top:220px;
			font-size:60px;
			text-align:center;
			background:rgba(255,255,255,0.3);
			color:#fff;
			transition:1s;
		}
		#prev:hover,#next:hover{
			color:orange;
		}
		#next{
			right:0px;
		}
		#picIndex,#word{
			position:absolute;
			margin:0;
			width:100%;
			height:40px;
			line-height:40px;
			background:rgba(0,0,0,0.3);
			top:460px;
			font-size:25px;
			font-weight:bold;
			font-family:arial;
			color:#fff;
			text-indent:30px;
		}
		#word{
			background:none;
			width:870px;
			text-align:right;
			padding-right:30px;
		}
		#control{
			width:900px;
			height:auto;
			text-align:center;
			margin:10px auto 0;
		}